<div id="game-window"></div>
<button class="button-start" ng-click="$ctrl.startGame()">Start</button>
<button class="button-stop" ng-click="$ctrl.stopGame()">Stop</button>
<span class="result looser-message" ng-if="$ctrl.isWinner === false">you lost</span>
<span class="result winner-message" ng-if="$ctrl.isWinner">you won</span>